{% extends "master.html" %} {% load static %} {% block baslik %} Sayfa
Bulunamadı {% endblock %} {% block govde %}

<section class="bg-light">
  <div class="container-fluid">
    <div class="row row-cols-1 justify-content-center py-4">
      <div class="col-xxl-6 mb-3">
        <div class="lc-block">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player
            src="https://assets9.lottiefiles.com/packages/lf20_u1xuufn3.json"
            class="mx-auto"
            background="transparent"
            speed="1"
            loop=""
            autoplay=""
          ></lottie-player>
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
      <div class="col text-center">
        <div class="lc-block">
          <!-- /lc-block -->
          <div class="lc-block mb-3">
            <div editable="rich">
              <p class="rfs-11 fw-light">
                Aradığınız Sayfa Bulunamadı. Anasayfaya Dönünüz!
              </p>
            </div>
          </div>
          <!-- /lc-block -->
          <div class="lc-block">
            <a class="btn btn-lg btn-primary" href="#" role="button"
              >Anasayfaya Dön</a
            >
          </div>
          <!-- /lc-block -->
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
    </div>
  </div>
</section>

<p class="py-5 small text-center text-muted">
  Powered by
  <a href="https://library.livecanvas.com/"
    >LiveCanvas HTML Templates for Bootstrap</a
  >
</p>

{% endblock %}
